.jumbotron img {
	border-radius: 100%;
}

section {
	min-height: 300px;
}

.jumbotron{
	background-color: #FFFFFF;
}

.about{
	background-color: #FFFFFF;
}

.portofolio{
	background-color: #FFFFFF;
}

footer{
  background-color: #FFFFFF;
     text-align: center;
   }
   ul li{
     display: inline
   }
   a{
     padding: 5px;
     text-decoration: none;
   }